{% extends 'layout.html' %}
{% load static %}
{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="../index/">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="../about/"> About </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="../how/"> Usage </a>
</li>

{% endblock %}

{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          About Museum Corp.
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{% static 'images/about-img.png' %}" alt="">
        </div>
        <div class="detail-box">
          <p>
            Museum Corp. is founded by five talented, far-looking bright young men. 
          </p>
          <p>
            They had dreams of eradicating the world of evil,to spread joy, 
          </p>
          <p>
            and contribute to a better world. Here they are, with their latest product: Cryptop!

          </p>
          <div class="btn-box">
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

{% endblock %}