<!DOCTYPE html>
<html>
<head>
	<title>Go to ~/api/</title>
</head>
<body>
	<h1>Go to ~/api/</h1>
	<p>This serves as documentation for the REST API.</p>
	<p>You are seeing this because the GUI for the REST API implementation is at the directory ~/api/. For each category, the API takes a JSON input, and spits out a JSON response. There are the following categories:</p>
	<ul>
		<li><a href="/api/pellet/">Pellet</a></li>
		<li><a href="/api/cargo/">Cargo</a></li>
		<li><a href="/api/inbound/">Inbound</a></li>
		<li><a href="/api/outbound/">Outbound</a></li>
		<li><a href="/api/order/">Order</a></li>
		<li><a href="/api/products/">Products</a></li>
	</ul>
	<p>To access the API, please visit ~/api/category/. Alternatively, <a href="/api/">click here</a> to access the root or the above categories to jump to ~/api/category/.</p>
	<p>If you need new classes or have any questions, please raise them in the group or DM me.</p>
</body>
</html>