{% extends 'layout.html' %}


{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="../index/">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../about/"> About </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../how/"> Usage </a>
  </li>
  
{% endblock %}
    
{% block style %}
<style>
    .input {
      width:90%;
    } 

</style>

{% endblock %}

{% block title%}Cargo Management{% endblock %}

    {% block content %}
        {% if infos %}
        <form method="POST" id="form" action="">
            {% csrf_token %}
            <!--infos from one cargo row-->
            {% for key,value in infos.items %}
            <label>{{ key }}: </label>
            <input type="text" value="{{ value }}" name={{ key }}><br>
            {% endfor %}
            <button type="submit">SAVE</button>
        </form>

        {% else %}
            <a>No item information. Check if ID right.</a>
        {% endif %}
    {% endblock %}
