<!DOCTYPE HTML>
<html>
    {% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="../index/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../about/"> About </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../how/"> Usage </a>
    </li>
    {% endblock %}


    {% extends 'layout.html' %}
    {% block title%}User Management{% endblock %}
    {% block contents %}
    {% if infos %}
    <form method="POST" action="">
    {% csrf_token %}
    {% for info in infos %}
    <label>{{ info.id }}</label>
    <input type="text" value="{{ info }}" id="{{ info.id }}"/>
    {% endfor %}
    <button type="submit">SAVE</button>
    </form>
    {% else %}
    <a>No user information. Check if ID right.</a>
    {% endif %}
    {% endblock contents %}
</html>